main
  margin-top: 20px

header
  nav

footer
  border-top: 1px solid #ccc
  padding: 5px
  margin-top: 10px
  text-align: center
  color: gray

.btn
  margin-right: 5px

form
  input[type='radio']
    margin-right: 5px
  select
    margin-left: 5px
  .errors
    color: red

#shool-logo
  img
    width: 100%
.row
  margin-bottom: 5px

.card
  margin-bottom: 20px

.card.button-card
  margin-bottom: 20px
  a
    &:hover
      text-decoration: none
  &:hover
    box-shadow: 5px 5px 5px lightgreen
  .card-body
    padding: 5px
  img
    width: 100%
  text-align: center

.teacher-index
  margin-top: 10px
  img
    width: 100%
